<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        /* Estilo para o popup */
        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }

        /* Estilo para o fundo escuro quando o popup está aberto */
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 900;
        }

        img {
            max-width: 70%;
            height: auto;
        }

        /* Estilo para o modal */
        .modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            z-index: 1;
        }

        .foto-button {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <h1>Hello <%= user.username %>
    </h1>

    <img src="<%= user.profileimagedir %>" width="100px" height="100px" />

    <% if(canEdit) { %>
        <button onclick="openPopup()">Abrir Popup</button>

        <div id="popup">
            <form method="post" action="/user/<%= user.username %>?_method=PUT">
                <div>
                    <img id="fotoSelecionada" src="<%= user.profileimagedir %>" width="100px" height="100px"
                        alt="Foto Selecionada" />
                </div>

                <input type="hidden" id="profilePhotoInput" name="profileimagedir" />

                <button onclick="openModal()">Alterar Foto</button>
                <br>
                <div id="myModal" class="modal">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <img src="\img\profileImg\1.jpg" alt="Foto 1" onclick="selectPhoto(1)" />
                    <img src="\img\profileImg\2.jpg" alt="Foto 2" onclick="selectPhoto(2)" />
                    <img src="\img\profileImg\3.jpg" alt="Foto 3" onclick="selectPhoto(3)" />
                    <img src="\img\profileImg\4.jpg" alt="Foto 4" onclick="selectPhoto(4)" />
                    <img src="\img\profileImg\5.jpg" alt="Foto 5" onclick="selectPhoto(5)" />
                    <img src="\img\profileImg\6.jpg" alt="Foto 6" onclick="selectPhoto(6)" />
                    <img src="\img\profileImg\7.jpg" alt="Foto 7" onclick="selectPhoto(7)" />
                    <img src="\img\profileImg\8.jpg" alt="Foto 8" onclick="selectPhoto(8)" />
                    <img src="\img\profileImg\9.jpg" alt="Foto 9" onclick="selectPhoto(9)" />
                    <img src="\img\profileImg\10.jpg" alt="Foto 10" onclick="selectPhoto(10)" />
                </div>
                <label for="name">Nome:</label>
                <input type="text" value="<%= user.fullname %>" id="name" name="name" required /><br />

                <label for="username">Username:</label>
                <input type="text" value="<%= user.username %>" id="username" name="username" required />

                <label for="username">Digite a senha para confirmar:</label>
                <input type="text" id="password" name="password" required />

                <button type="submit">Salvar</button>
            </form>
            <button onclick="closePopup()">Fechar</button>
        </div>

        <div id="overlay"></div>

        <script>
            // Função para abrir o popup
            function openPopup() {
                document.getElementById("popup").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }

            // Função para fechar o popup
            function closePopup() {
                document.getElementById("popup").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }

            // Função para abrir o modal
            function openModal(e) {
                event.preventDefault(); // Impede o comportamento padrão do botão
                document.getElementById("myModal").style.display = "flex";
            }

            // Função para fechar o modal
            function closeModal() {
                document.getElementById("myModal").style.display = "none";
            }

            // Função para selecionar a foto
            document.querySelector(".foto-button").addEventListener("click", function (event) {
                event.preventDefault();
            });

            function selectPhoto(photoNumber) {
                // Suponha que as fotos estejam na mesma pasta do HTML com nomes foto1.jpg, foto2.jpg, etc.
                const nomeFoto = `${photoNumber}.jpg`;
                const caminhoFoto = `/img/profileImg/${nomeFoto}`;

                // Atualiza a imagem exibida
                document.getElementById("fotoSelecionada").src = caminhoFoto;

                // Salva o caminho da foto no input (ou pode salvar outras informações, dependendo das necessidades)
                document.getElementById("profilePhotoInput").value = caminhoFoto;

                // Fecha o modal após selecionar a foto
                closeModal();
            }
        </script>

        <% } %>
</body>

</html>