<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/user/<%= user.username %>">
        <h1>Hello <%= user.username %></h1>
  
        <img src="<%= user.profileImageDir %>" width="100px" height="100px"/>
  
      </a>

    <video width="500px" height="500px" controls autoplay src="<%= videoLink %>"></video>
    <h1><%= videoData.title %></h1>
    <p><%= videoData.description %></p>
  </body>
</html>